*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#4da8ff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{

    width:350px;

    background:white;

    padding:25px;

    border-radius:10px;

    text-align:center;

    box-shadow:0 0 10px gray;
}

h1{
    margin-bottom:20px;
}

.search-box{

    display:flex;

    gap:10px;

    margin-bottom:20px;
}

input{

    flex:1;

    padding:10px;
}

button{

    padding:10px 15px;

    cursor:pointer;

    background:#007bff;

    color:white;

    border:none;

    border-radius:5px;
}

button:hover{

    background:#0056b3;
}

#weatherResult{

    margin-top:20px;
}

#error{

    color:red;

    margin-top:10px;
}